
/* .test-button:focus {
    color: red;
}

.test-input:focus {
    color: red;
} */

div:hover {
    color: red;
}

.test-button:focus-visible {
    color: red;
}

.test-input:focus-visible {
    color: red;
}